body {
   background-color: #191919;
   font-weight: 300;
}
  .jumbotron {
  text-align: center;
     background-color: #191919;
  display: flex;
  align-items: center;  
  background-image: url('../css/image4.jpg');
  background-size: cover;      
  color: #ffffff;
  height: 400px;
  width: 1200px;    
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
 .jumbotron h2 {
     text-align: center;
     font-size: 60px;
     font-weight: 700;
     margin: 0;
     color: #fff;
     
}
 .jumbotron h3 {
     text-align: center;
     font-size: 30px;
     font-weight: 350;
     margin: 0;
     color: #fff;
}

.OutlineText {
   /*
    font: Tahoma, Geneva, sans-serif;
    font-size: 64px; */
    color: white;
    text-shadow: 
    /* Outline 1 */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000, 
    /* Outline 2 */
    -2px -2px 0 #ff0000,
    2px -2px 0 #ff0000,
    -2px 2px 0 #ff0000,
    2px 2px 0 #ff0000,  
    -3px 0 0 #ff0000,
    3px 0 0 #ff0000,
    0 3px 0 #ff0000,
    0 -3px 0 #ff0000; /* Terminate with a semi-colon */
}
