<footer class="site-footer">

  <div class="wrapper">
    
    <!-- The start of the footer arrangement -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p class="col-sm-4">Novigo &boxv; Always Ahead <br /> &copy; 2018 Novigo</P>
        <p class="col-sm-4">Check us out on <strong>social media:</strong></p>
        <div class="col-sm-4">
          <div class="sosial-links">
            <a href="https://www.facebook.com/Novigo-1155375697892991"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/N0vigo"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/novigo-recruitment-011079142"><i class="fa fa-linkedin-in fa-lg"></i></a>           
        </div>
     </div>                               
        </div>
      </div>
    </div>
    
    
  </div> <!-- Wrapper -->

</footer>
