<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <!-- <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

 -->
    <!-- The start of the footer arrangement -->
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4"> 
        <p>Novigo &boxv; Always Ahead<br />&copy; 2018 Novigo</P>
      </div>      
      <div class="col-sm-8">
        <div class="sosial-links">
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
      </div>  <!-- Sosial-links -->      
      </div> <!--  8 col-->
      </div> <!-- 12 col -->
    </div> <!-- Row -->
    </div> <!-- Container -->
    
  </div> <!-- Wrapper -->

</footer>
