<footer class="site-footer">

  <div class="wrapper">
    
    <!-- The start of the footer arrangement -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p class="col-sm-8">Novigo &boxv; Always Ahead <br /> &copy; 2018 Novigo</P>
        <div class="col-sm-4">
          <div class="sosial-links">
            <p>I am going to insert the social links here</p>
            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
          </div>
     </div>                               
        </div>
      </div>
    </div>
    
    
  </div> <!-- Wrapper -->

</footer>
